---
import type { ProcessedSection } from '@/types/contentful-v2';
import { ArrowRightIcon } from '@lucide/astro';
import Section from '@/components/Section.astro';
import AnimatedProgressBar from '@/components/AnimatedProgressBar';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Home3xMetricImage from '@/assets/home-3x-metric.svg';
import { Image } from 'astro:assets';


interface Props {
  section: ProcessedSection;
}

const { section } = Astro.props;

---

<Section title={section.title || ''}>
  <div class="md:flex justify-between items-center gap-8 mb-8 ">
    {section.headline && (
      <h2 class="text-3xl md:text-4xl font-medium mb-6 max-w-sm">
        {section.headline}
      </h2>
    )}
    
    <div class="rounded-full bg-brand-purple flex items-center justify-center w-8 h-8">
      <ArrowRightIcon class="current-color w-4 h-4 mx-2" />
    </div>

    {section.description && (
      <div 
        class="max-w-lg font-mono" 
        set:html={typeof section.description === 'string' 
          ? section.description 
          : documentToHtmlString(section.description)}
      />
    )}
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {section.items?.map((item) => (
      <div class="text-center border border-gray-900 rounded-lg bg-background p-6">
        {item.value && (
          <div class="text-5xl font-medium mb-4">
            {item.value}
          </div>
        )}

        {
          item.value === '3x' && (
            <Image src={Home3xMetricImage} alt="Home 3x Metric" class="w-full mx-auto animate-fade animate-once animate-duration-[250ms] animate-delay-100" />
          )
        }

        {
          item.value === '50-60%' && (
            <div class="w-full flex justify-center tracking-[4px] text-green-600 my-4">
              <AnimatedProgressBar value={55} max={100} width={15} client:only="react" showPercentage={false} />
            </div>
          )
        }

        {
          item.value === '80%' && (
            <div class="w-full flex justify-center tracking-[4px] text-green-600 my-4">
              <AnimatedProgressBar value={80} max={100} width={15} client:only="react" showPercentage={false} />
            </div>
          )
        }

{
          item.value === '30%' && (
            <div class="w-full flex justify-center tracking-[4px] text-green-600 my-4">
              <AnimatedProgressBar value={30} max={100} width={15} client:only="react" showPercentage={false} />
            </div>
          )
        }

        {item.title && item.subtitle && (
          <div class="font-mono text-sm italic mt-4">
            <span class="font-medium text-foreground italic inline">{item.title}</span>
            <span class="text-muted-foreground inline">{item.subtitle}</span>
          </div>
        )}
      </div>
    ))}
  </div>
</Section>

