---
import type { ProcessedSection } from "@/types/contentful-v2";
import { ArrowDownIcon, ArrowRightIcon } from "@lucide/astro";
import HomeHeroImage from "@/assets/home-hero.svg";
import YEdeHeroImage from "@/assets/hero-y-ede.svg";
import YInfraHeroImage from "@/assets/hero-y-infra.svg";
import YAppHeroImage from "@/assets/hero-y-app.svg";
import YAiHeroImage from "@/assets/hero-y-ai.svg";
import { cn } from "@/lib/utils";
import YEdeLogo from "@/assets/y-ede-logo.svg";
import YInfraLogo from "@/assets/y-infra-logo.svg";
import { Image } from "astro:assets";
import YAppLogo from "@/assets/y-app-logo.svg";
import YAiLogo from "@/assets/y-ai-logo.svg";
import CultureAndCareersHeroImage from "@/assets/ybor-culture-hero.svg";
import ContactHeroImage from "@/assets/ybor-contact-hero.svg";
import { ArrowRightCircleIcon } from "lucide-react";

interface Props {
  section: ProcessedSection;
  slug: string;
  color?: string;
}

const { section, slug, color = "brand-purple" } = Astro.props;

const productPagesHeroMap = {
  "/products/ede": YEdeHeroImage,
  "/products/infra": YInfraHeroImage,
  "/products/app": YAppHeroImage,
  "/products/ai": YAiHeroImage,
  "/culture-and-careers": CultureAndCareersHeroImage,
  "/contact": ContactHeroImage,
};

const productLogosMap = {
  "/products/ede": YEdeLogo,
  "/products/infra": YInfraLogo,
  "/products/app": YAppLogo,
  "/products/ai": YAiLogo,
};

const bgImage =
  slug === "/"
    ? HomeHeroImage
    : productPagesHeroMap[slug as keyof typeof productPagesHeroMap] ||
      HomeHeroImage;

const productLogo =
  productLogosMap[slug as keyof typeof productLogosMap] || YEdeLogo;
---

<div>
  <section class="container mx-auto px-6 md:py-8 pb-16 z-10">
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
      <div data-animate="slide-left">
        {
          slug && slug.includes("/products/") && (
            <Image
              src={productLogo}
              alt={section.title || ""}
              class="w-auto md:h-11 h-8 mb-6"
            />
          )
        }
        <h1
          class="text-4xl lg:text-6xl leading-normal font-medium text-balance max-w-3xl"
        >
          {section.headline}
        </h1>

        {
          section.subtitle && (
            <div class="font-mono fon text-sm space-y-1 py-6 relative max-w-3xl flex items-center gap-4">
              <div class={
                cn("flex items-start gap-2 text-foreground", {
                  "text-xl": slug === "/",
                })
              }>
                {section.subtitle}
              </div>
            </div>
          )
        }

        <div class="flex gap-4">
          {
            section.primaryButton && (
              <a
                href={section.primaryButton.url}
                class={
                  cn("inline-flex items-center group justify-center rounded-full text-sm font-medium bg-gray-900 text-white hover:bg-gray-800 h-10 px-6 py-2 transition-colors duration-300 ease-in-out", {
                    "hover:bg-brand-purple": color === "brand-purple",
                    "hover:bg-brand-blue": color === "brand-blue",
                    "hover:bg-brand-orange hover:text-black": color === "brand-orange",
                    "hover:bg-brand-yellow hover:text-black": color === "brand-yellow",
                    "hover:bg-brand-green hover:text-black": color === "brand-green",
                  })
                }
              >
                {section.primaryButton.text}
                <ArrowRightCircleIcon
                  className={cn("", {
                    "w-5 h-5 ml-4 text-brand-purple group-hover:text-white": color === "brand-purple",
                    "w-5 h-5 ml-4 text-brand-blue group-hover:text-white": color === "brand-blue",
                    "w-5 h-5 ml-4 text-brand-orange group-hover:text-black": color === "brand-orange",
                    "w-5 h-5 ml-4 text-brand-yellow group-hover:text-black": color === "brand-yellow",
                    "w-5 h-5 ml-4 text-brand-green group-hover:text-black": color === "brand-green",
                  })}
                />
              </a>
            )
          }

          {
            section.secondaryButton && (
              <a
                href={section.secondaryButton.url}
                class="inline-flex items-center justify-center rounded-full text-sm font-medium border border-primary hover:bg-primary/5 h-10 px-6 py-2 text-primary transition-colors duration-200"
              >
                {section.secondaryButton.text}
              </a>
            )
          }
        </div>
      </div>
      <div data-animate="slide-right">
        <Image
          src={bgImage}
          width={500}
          height={500}
          alt={section.title || ""}
          class="h-auto"
        />
      </div>
    </div>
  </section>
</div>
