---
import type { ProcessedSection } from "@/types/contentful-v2";
import { ArrowRightIcon } from "@lucide/astro";
import Section from "@/components/Section.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { EdeHowItWorks } from "../EdeHowItWorks";
import { InfraHowItWorks } from "../InfraHowItWorks";
import { cn } from "@/lib/utils";
import { AppHowItWorks } from "../AppHowItWorks";
import { AiHowItWorks } from "../AiHowItWorks";

interface Props {
  section: ProcessedSection;
  color: string;
  slug: string;
}

const { section, color, slug } = Astro.props;
---

<Section title={section.title || ""}>
  <div class="flex flex-col md:flex-row md:items-center gap-8 mb-8">
    {
      section.headline && (
        <h2 class="text-3xl md:text-4xl font-medium md:mb-6 max-w-sm">
          {section.headline}
        </h2>
      )
    }

    <div
    class={
      cn("rounded-full flex items-center justify-center w-8 h-8 transform rotate-90 md:rotate-0", {
        "bg-brand-yellow": color === "brand-yellow",
        "bg-brand-blue": color === "brand-blue",
        "bg-brand-orange": color === "brand-orange",
        "bg-brand-purple": color === "brand-purple",
        "bg-brand-green": color === "brand-green",
      })
    }
    >
      <ArrowRightIcon class="current-color w-4 h-4 mx-2" />
    </div>

    {
      section.description && (
        <div
          class="font-mono text-sm text-foreground"
          set:html={documentToHtmlString(section.description)}
        />
      )
    }
  </div>

  <div class="my-8">
    {slug === "/products/ede" && <EdeHowItWorks section={section} client:only="react" />}
    {slug === "/products/infra" && <InfraHowItWorks section={section} client:only="react" />}
    {slug === "/products/app" && <AppHowItWorks section={section} client:only="react" />}
    {slug === "/products/ai" && <AiHowItWorks section={section} client:only="react" />}
  </div>
</Section>
